<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">TAT</a>
			<a href="#" class="navbar-item">GOLF</a>
			<a href="#" class="navbar-item">NIKI</a>
			<a href="#" class="navbar-item">TAN</a>
			<a href="#" class="navbar-item">PRANG</a>
			<a href="#" class="navbar-item">JUNE</a>
			<a href="#" class="navbar-item">PREAM</a>
			<a href="#" class="navbar-item">NAM</a>
		</nav>

	</header>